<% flash.each do |type, msg| %>
  <div id="alert" class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<div id="clockdate">
  <div class="clockdate-wrapper">
    <div id="clock"></div>
    <div id="date"></div>
  </div>
</div>

<h4 id="company-name">¡Hola! Bienvenido a <%= @companies.first.name %></h4>

<%= form_with(url: "/employees", method: "post") do %>
  <%= label_tag(:private_number, "Employee number:") %>
  <%= text_field_tag(:private_number) %>
  <%= select_tag "companies", options_from_collection_for_select(@companies, "id", "name") %>
  <%= submit_tag("Record") %>
<% end %>

<%= javascript_pack_tag "company_branch.js" %>
